@import url(../../sass/normalize.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Arial;
  src: local("Arial"), url("../assets/fonts/Arial.woff2") format("woff2"), url("../assets/fonts/Arial.woff") format("woff"), url("../assets/fonts/Arial.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Georgia;
  src: local("Georgia"), url("../assets/fonts/Georgia.woff2") format("woff2"), url("../assets/fonts/Georgia.woff") format("woff"), url("../assets/fonts/Georgia.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h5 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.button {
  border: none;
  border-radius: 100px;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover {
  background-color: #FDDCC4;
}

.button_colored {
  background-color: #F1CDB3;
}

.button_transparent {
  border: 2px solid #F1CDB3;
}

.button_transparent:hover {
  border: 2px solid #FDDCC4;
}

.button_prev {
  width: 52px;
  height: 52px;
  background: url(../../assets/icons/arrow-left.svg) center no-repeat;
}

.button_next {
  width: 52px;
  height: 52px;
  background: url(../../assets/icons/arrow-right.svg) center no-repeat;
}

.button_start, .button_back, .button_forward, .button_end {
  width: 52px;
  height: 52px;
}

.button_number {
  width: 52px;
  height: 52px;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: default;
}

.button_transparent:disabled {
  color: #CDCDCD;
  border-color: #CDCDCD;
  pointer-events: none;
}

.header {
  width: 100%;
  position: absolute;
}

.header_pets {
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 40px 0;
  overflow-x: hidden;
  width: 100vw;
}

.header__container_pets {
  padding: 30px 40px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.logo__link:hover .logo__title,
.logo__link:hover .logo__subtitle {
  color: #FAFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.logo__link:hover .logo__title_pets,
.logo__link:hover .logo__subtitle_pets {
  color: #F1CDB3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.logo__subtitle {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.logo__title_pets {
  color: #545454;
}

.logo__subtitle_pets {
  color: #292929;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.nav__list_pets {
  color: #545454;
}

.nav__item_active {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}

.nav__item_active .nav__link {
  cursor: default;
}

.nav__item_disabled:hover {
  color: #FAFAFA;
}

.nav__item_pets {
  color: #292929;
}

.nav__item_disabled-pets:hover {
  color: #292929;
}

.footer {
  background: url(../../assets/images/noise_lines_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  margin: 40px auto 0;
  padding: 0 40px;
}

.footer__column_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 43px;
  margin-top: 16px;
}

.footer__column_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 33px;
  margin-top: 16px;
  margin-right: 5px;
}

.footer__title {
  color: #FFFFFF;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer__contacts:hover {
  color: #FAFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 310px;
}

.pets__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background-color: #F6F6F6;
}

.pets__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  max-width: 1280px;
  margin: 200px auto 100px;
  padding: 0 40px;
}

.pets__title {
  color: #545454;
  text-align: center;
}

.pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.pets__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px 40px;
}

.pets__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background-color: #FAFAFA;
  border-radius: 9px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pets__card .button_transparent {
  margin-bottom: 30px;
  width: 187px;
  height: 52px;
}

.pets__card:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.pets__card:hover .button_transparent {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.pets__image {
  width: 270px;
  height: 270px;
}

.pets__name {
  line-height: 23px;
  color: #545454;
}

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
/*# sourceMappingURL=pets.css.map */