@import url(../../sass/normalize.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Arial;
  src: local("Arial"), url("../assets/fonts/Arial.woff2") format("woff2"), url("../assets/fonts/Arial.woff") format("woff"), url("../assets/fonts/Arial.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Georgia;
  src: local("Georgia"), url("../assets/fonts/Georgia.woff2") format("woff2"), url("../assets/fonts/Georgia.woff") format("woff"), url("../assets/fonts/Georgia.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  h2 {
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
}

@media (max-width: 767px) {
  h3 {
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
  }
}

h4 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

h5 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}

.button {
  border: none;
  border-radius: 100px;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover {
  background-color: #FDDCC4;
}

.button_colored {
  background-color: #F1CDB3;
}

.button_transparent {
  border: 2px solid #F1CDB3;
}

.button_transparent:hover {
  border: 2px solid #FDDCC4;
}

.button_prev {
  width: 52px;
  height: 52px;
  background: url(../../assets/icons/arrow-left.svg) center no-repeat;
}

.button_next {
  width: 52px;
  height: 52px;
  background: url(../../assets/icons/arrow-right.svg) center no-repeat;
}

.button_start, .button_back, .button_forward, .button_end {
  width: 52px;
  height: 52px;
}

.button_number {
  width: 52px;
  height: 52px;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: default;
}

.button_transparent:disabled {
  color: #CDCDCD;
  border-color: #CDCDCD;
  pointer-events: none;
}

.header {
  width: 100%;
  position: absolute;
}

.header_pets {
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 40px 0;
}

.header__container_pets {
  padding: 30px 40px;
}

@media (max-width: 1279px) {
  .header__container {
    padding: 30px 30px 0;
  }
  .header__container_pets {
    padding-bottom: 31px;
  }
}

@media (max-width: 767px) {
  .header__container {
    padding: 30px 53px 0 10px;
  }
  .header__container_pets {
    padding: 30px 52px 30px 10px;
  }
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.logo__link:hover .logo__title,
.logo__link:hover .logo__subtitle {
  color: #FAFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.logo__link:hover .logo__title_pets,
.logo__link:hover .logo__subtitle_pets {
  color: #F1CDB3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.logo__subtitle {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.logo__title_pets {
  color: #545454;
}

.logo__subtitle_pets {
  color: #292929;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}

.nav__list_pets {
  color: #545454;
}

.nav__item_active {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}

.nav__item_active .nav__link {
  cursor: default;
}

.nav__item_disabled:hover {
  color: #FAFAFA;
}

.nav__item_pets {
  color: #292929;
}

.nav__item_disabled-pets:hover {
  color: #292929;
}

@media (max-width: 1279px) {
  .nav__list_pets {
    padding-bottom: 2px;
  }
}

@media (max-width: 767px) {
  .nav {
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    background-color: #292929;
    -webkit-animation-name: slidein;
            animation-name: slidein;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: auto;
  }
  .nav.open {
    right: 0;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__link {
    font-size: 32px;
    line-height: 51px;
  }
}

.burger {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger.open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger span, .burger::before, .burger::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #F1CDB3;
}

.burger::before, .burger::after {
  content: "";
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  top: 50%;
}

.burger_pets span, .burger_pets::before, .burger_pets::after {
  background-color: #292929;
}

@media (max-width: 767px) {
  .burger {
    display: block;
    position: relative;
    z-index: 10;
    width: 30px;
    height: 22px;
    cursor: pointer;
    /*&.open span {
      transform: rotate(90deg);
    }
  
    &.open::before {
      left: 40%;
      top: 50%;
      transform: rotate(90deg);
    }
  
    &.open::after {
      left: -40%;
      bottom: 50%;
      transform: rotate(90deg) translate(10%);
    }*/
  }
}

.footer {
  background: url(../../assets/images/noise_lines_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 40px 0;
}

.footer__column_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
  gap: 43px;
}

.footer__column_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
  margin-right: 5px;
  gap: 33px;
}

.footer__title {
  max-width: 280px;
  color: #FFFFFF;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer__contacts:hover {
  color: #FAFAFA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
}

.footer__image img {
  width: 100%;
}

@media (max-width: 1279px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 30px 0;
    max-width: 708px;
    gap: 64px 60px;
  }
  .footer__column_first, .footer__column_second {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 10px 0;
    gap: 40px;
  }
  .footer__column_first {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 42px;
  }
  .footer__column_second {
    margin: 0;
    gap: 40px;
  }
  .footer__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 270px;
  }
  .footer__contacts {
    padding-right: 3px;
  }
  .footer__image {
    max-width: 260px;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 80px 0 100px;
}

@media (max-width: 767px) {
  .section {
    padding: 42px 0;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

.hero__section {
  background: url(../../assets/images/noise_lines_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding: 180px 0 0;
}

.hero__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 42px;
}

.hero__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 163px;
  gap: 42px;
  max-width: 460px;
}

.hero__description .button {
  width: 207px;
  height: 52px;
}

.hero__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}

.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 698px;
}

.hero__image img {
  width: 100%;
}

@media (max-width: 1279px) {
  .hero__section {
    padding: 150px 0 0;
  }
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 100px;
  }
  .hero__description {
    margin-top: 0;
  }
  .hero__description .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero__image {
    margin-left: 139px;
    max-width: 569px;
  }
}

@media (max-width: 767px) {
  .hero__container {
    gap: 95px;
  }
  .hero__text {
    text-align: center;
  }
  .hero__image {
    margin-left: 40px;
    max-width: 260px;
  }
  .hero__description .button {
    margin-bottom: 10px;
  }
}

.about__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 120px;
}

.about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
}

.about__image img {
  width: 100%;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  max-width: 430px;
}

.about__title {
  color: #545454;
}

.about__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}

@media (max-width: 1279px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 79px;
  }
}

@media (max-width: 767px) {
  .about__description {
    margin: 0 15px;
  }
  .about__text {
    text-align: justify;
  }
  .about__image {
    max-width: 260px;
  }
}

.pets__section {
  background-color: #F6F6F6;
}

.pets__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.pets__container .button_colored {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 261px;
  height: 52px;
}

.pets__title {
  color: #545454;
  text-align: center;
}

.pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 53px;
  gap: 90px;
}

.pets__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background-color: #FAFAFA;
  border-radius: 9px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pets__card .button_transparent {
  margin-bottom: 30px;
  width: 187px;
  height: 52px;
}

.pets__card:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.pets__card:hover .button_transparent {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.pets__image {
  width: 270px;
  height: 270px;
}

.pets__name {
  line-height: 23px;
  color: #545454;
}

@media (max-width: 1279px) {
  .pets__cards {
    gap: 40px;
    margin: 0 12px;
  }
  .pets__card:last-child {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets__slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .pets__slider .button_prev,
  .pets__slider .button_next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pets__cards {
    gap: 0;
    margin: 0;
  }
  .pets__cards:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .pets__card:not(:first-child) {
    display: none;
  }
}

.help__section {
  background-color: #FFFFFF;
}

.help__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__title {
  color: #545454;
  text-align: center;
  margin-bottom: 60px;
}

.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 55px 120px;
}

.help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 29px;
  color: #545454;
}

.help__icon {
  width: 60px;
  height: 60px;
}

@media (max-width: 1279px) {
  .help__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    max-width: 630px;
    gap: 55px 60px;
  }
  .help__item {
    width: 170px;
  }
}

@media (max-width: 767px) {
  .help__list {
    max-width: 290px;
    gap: 30px;
  }
  .help__item {
    width: 130px;
    gap: 20px;
  }
  .help__icon {
    width: 50px;
    height: 50px;
  }
  .help__name {
    text-align: center;
    font-size: 15px;
    line-height: 17px;
  }
}

.donation__section {
  padding-bottom: 99px;
  background-color: #F6F6F6;
}

.donation__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.donation__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 505px;
}

.donation__image img {
  width: 100%;
}

.donation__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  max-width: 380px;
}

.donation__title {
  color: #545454;
}

.donation__subtitle {
  color: #545454;
}

.donation__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 15px;
  gap: 15px;
  border-radius: 9px;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #545454;
}

.donation__info {
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

@media (max-width: 1279px) {
  .donation__section {
    padding-bottom: 100px;
  }
  .donation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 60px;
  }
}

@media (max-width: 767px) {
  .donation__section {
    padding-bottom: 42px;
  }
  .donation__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation__card {
    font-size: 15px;
    line-height: 16.5px;
  }
  .donation__info {
    text-align: justify;
  }
  .donation__image {
    max-width: 260px;
  }
}
/*# sourceMappingURL=main.css.map */