@import url(../../sass/normalize.css);
@import "../../sass/_basic.scss";
@import "../../sass/_constants.scss";
@import "../../sass/_fonts.scss";
@import "../../sass/_buttons.scss";
@import "../../sass/_header.scss";
@import "../../sass/_footer.scss";

.section {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 80px 0 100px;

  @media (max-width: $mobile-width) {
    padding: 42px 0;
  }
}

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 10px;
  }
}

.hero {
  &__section {
    background: url(../../assets/images/noise_lines_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding: 180px 0 0;
  }

  &__container {
    justify-content: space-between;
    gap: 42px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-top: 163px;
    gap: 42px;
    max-width: 460px;

    .button {
      width: 207px;
      height: 52px;
    }
  }

  &__text {
    @include paragraph-l;
    color: $color-dark-s;
  }

  &__image {
    display: flex;
    max-width: 698px;

    img {
      width: 100%;
    }
  }

  @media (max-width: $tablet-width) {
    &__section {      
      padding: 150px 0 0;
    }

    &__container {
      flex-direction: column;
      align-items: center;
      gap: 100px;
    }

    &__description {
      margin-top: 0;

      .button {
        align-self: center;
      }
    }

    &__image {
      margin-left: 139px;
      max-width: 569px;
    }
  }

  @media (max-width: $mobile-width) {
    &__container {
      gap: 95px;
    }

    &__text {
      text-align: center;
    }

    &__image {
      margin-left: 40px;
      max-width: 260px;
    }

    &__description .button {
      margin-bottom: 10px;
    }
  }
}

.about {
  &__container {
    justify-content: center;
    align-items: center;
    gap: 120px;
  }

  &__image {
    display: flex;
    max-width: 300px;

    img {
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 430px;
  }

  &__title {
    color: $color-dark-l;
  }

  &__text {
    @include paragraph-l;
    color: $color-dark-xl;
  }

  @media (max-width: $tablet-width) {
    &__container {
      flex-direction: column-reverse;
      gap: 79px;
    }
  }

  @media (max-width: $mobile-width) {
    &__description {
      margin: 0 15px;
    }

    &__text {
      text-align: justify;
    }

    &__image {
      max-width: 260px;
    }
  }
}

.pets {
  &__section {
    background-color: $color-light-l;
  }

  &__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    .button_colored {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 261px;
      height: 52px;
    }
  }

  &__title {
    color: $color-dark-l;
    text-align: center;
  }

  &__slider {
    display: flex;
    align-items: center;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 53px;
    gap: 90px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: $color-light-s;
    border-radius: 9px;
    overflow: hidden;
    transition: 0.5s;

    .button_transparent {
      margin-bottom: 30px;
      width: 187px;
      height: 52px;      
    }

    &:hover {
      background-color: $color-light-xl;
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      cursor: pointer;
      .button_transparent {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
      }
    }
  }

  &__image {
    width: 270px;
    height: 270px;
  }

  &__name {
    line-height: 23px;
    color: $color-dark-l;
  }

  @media (max-width: $tablet-width) {
    &__cards {      
      gap: 40px;
      margin: 0 12px;
    }

    &__card:last-child {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    &__slider {
      flex-direction: column-reverse;

      .button_prev,
      .button_next {
        display: flex;
        flex-direction: row;
      }
    }

    &__cards {      
      gap: 0;
      margin: 0;
    }

    &__cards:nth-child(2) {
      order: 1;
    }

    &__card:not(:first-child) {
      display: none;
    }
  }
}

.help {
  &__section {
    background-color: $color-light-xl;
  }

  &__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: $color-dark-l;
    text-align: center;
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 55px 120px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 29px;
    color: $color-dark-l;
  }

  &__icon {
    width: 60px;
    height: 60px;
  }

  @media (max-width: $tablet-width) {
    &__list {
      justify-content: start;
      max-width: 630px;
      gap: 55px 60px;
    }

    &__item {
      width: 170px;
    }
  }

  @media (max-width: $mobile-width) {
    &__list {
      max-width: 290px;
      gap: 30px;
    }

    &__item {
      width: 130px;
      gap: 20px;      
    }

    &__icon {
      width: 50px;
      height: 50px;
    }

    &__name {
      text-align: center;
      font-size: 15px;
      line-height: 17px;
    }
  }
}

.donation {
  &__section {
    padding-bottom: 99px;
    background-color: $color-light-l;
  }

  &__container {
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__image {
    display: flex;
    max-width: 505px;

    img {
      width: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 380px;
  }

  &__title {
    color: $color-dark-l;
  }

  &__subtitle {
    color: $color-dark-l;
  }

  &__card {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    gap: 15px;
    border-radius: 9px;
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;    
    align-items: center;
    color: $color-dark-l;
  }

  &__info {
    @include paragraph-s;
    color: $color-dark-m;
  }

  @media (max-width: $tablet-width) {
    &__section {
      padding-bottom: 100px;
    }

    &__container {
      flex-direction: column-reverse;
      gap: 60px;
    }
  }

  @media (max-width: $mobile-width) {
    &__section {
      padding-bottom: 42px;
    }

    &__text {
      align-items: center;
    }

    &__card {
      font-size: 15px;
      line-height: 16.5px;
    }
    
    &__info {
      text-align: justify;
    }

    &__image {
      max-width: 260px;
    }
  }
}
