@import url(../../sass/normalize.css);
@import url(../../sass/_fonts.scss);
@import url(../../sass/_colors.scss);
@import url(../../sass/_buttons.scss);
@import url(../../sass/_footer.scss);


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}