* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

p {
  margin: 0;
  padding: 0;
}