* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;

  &.lock {
    overflow: hidden;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

p {
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background: rgba(41, 41, 41, 0.6);
  transition: all 1s ease;
}

.overlay.active {
  opacity: 1;
  z-index: 1;
}