@font-face {
  font-family: Arial;
  src:
    local("Arial"),
    url("../assets/fonts/Arial.woff2") format("woff2"),
    url("../assets/fonts/Arial.woff") format("woff"),
    url("../assets/fonts/Arial.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Georgia;
  src:
    local("Georgia"),
    url("../assets/fonts/Georgia.woff2") format("woff2"),
    url("../assets/fonts/Georgia.woff") format("woff"),
    url("../assets/fonts/Georgia.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: $color-primary;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: $color-light-xl;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h5 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

@mixin paragraph-l {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

@mixin paragraph-s {
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}