.footer {
  background: url(../../assets/images/noise_lines_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
 
  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 40px 0;
  }

  &__column_first {
    display: flex;
    flex-direction: column;
    gap: 43px;
    margin-top: 16px;
  }

  &__column_second {
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-top: 16px;
    margin-right: 5px;
  }

  &__title {
    color: $color-light-xl;
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Georgia", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    &:hover {
      color: $color-light-s;
      transition: 0.5s;
    }
  }

  &__image {
    display: flex;
    max-width: 300px;

    img {
      width: 100%;
    }
  }

  @media (max-width: $tablet-width) {
    &__container {
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px 30px 0;
      max-width: 708px;
      gap: 64px 60px;
    }

    &__column_first,
    &__column_second {
      margin-top: 0;
    }
  }
}
