.header {
  width: 100%;
  position: absolute;

  &_pets {
    width: 100%;
    position: fixed;
    background-color: $color-light-xl;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 40px 0;

    &_pets {
      padding: 30px 40px;
    }
  }

  @media (max-width: $tablet-width) {
    &__container {
    padding: 30px 30px 0;
      &_pets {
        padding-bottom: 31px;
      }
    }    
  }

  @media (max-width: $mobile-width) {
    &__container {
      padding: 30px 53px 0 10px;
    }
  }
}

.logo {
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 9px;    

    &:hover {
      .logo__title,
      .logo__subtitle {
        color: $color-light-s;
        transition: 0.5s;
      }
      .logo__title_pets,
      .logo__subtitle_pets {
        color: $color-primary;
        transition: 0.5s;
      }
    } 
  }

  &__subtitle {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
  }

  &__title_pets {
    color: $color-dark-l;
  }

  &__subtitle_pets {
    color: $color-dark-3xl;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    @include paragraph-l;
    color: $color-dark-s;

    &_pets {
      color: $color-dark-l;
    }
  }

  &__item_active {
    border-bottom: 3px solid $color-primary;
    color: $color-light-s;

    .nav__link {
      cursor: default;
    }
  }

  &__item_disabled {
    &:hover {
      color: $color-light-s;
    }
  }

  &__item_pets {
    color: $color-dark-3xl;
  }

  &__item_disabled-pets:hover {
    color: $color-dark-3xl;
  }

  @media (max-width: $tablet-width) {
    &__list_pets {
      padding-bottom: 2px;
    }
  }
}

@media (max-width: $mobile-width) {
  .nav {
    position: fixed;
    margin: 0;
    top: 0;
    padding-top: 158px;
    right: -100%;
    width: 320px;
    height: 100%;
    background-color: $color-dark-3xl;
    animation-name: slidein;
    transition: 0.5s;
    overflow: auto;
  
    &.open {
      right: 0;
    }
  
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    &__link {
      font-size: 32px;
      line-height: 51px;
    }
  }
}

.burger {
  display: none;
  transition: 0.5s;

  @media (max-width: $mobile-width) {    
    display: block;
    position: relative;
    z-index: 10;
    width: 30px;
    height: 22px;
    cursor: pointer;

    &.open {
      transform: rotate(90deg);
      transition: 0.5s;
    }

    span,
    &::before,
    &::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: 0.5s;
    background-color: $color-primary;
    }

    &::before,
    &::after {
    content: "";
    }

    &::before {
    top: 0;
    }

    &::after {
    bottom: 0;
    }

    span {
    top: 50%;
    }

    /*&.open span {
      transform: rotate(90deg);
    }
  
    &.open::before {
      left: 40%;
      top: 50%;
      transform: rotate(90deg);
    }
  
    &.open::after {
      left: -40%;
      bottom: 50%;
      transform: rotate(90deg) translate(10%);
    }*/

  }
}