.header {
  width: 100%;
  position: absolute;

  &_pets {
    width: 100%;
    position: fixed;
    background-color: $color-light-xl;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 40px 0;

    &_pets {
      padding: 30px 40px;
    }
  }

  @media (max-width: $tablet-width) {
    &__container {
    padding: 30px 30px 0;

      &_pets {
        padding-bottom: 31px;
      }
    }    
  }

  @media (max-width: $mobile-width) {
    &__container {
      padding: 30px 53px 0 10px;

      &_pets {
        padding: 30px 52px 30px 10px;
      }
    }
  }
}

.logo {
  transition: 0.5s;

  &__burger {
    margin-left: calc(100vw - 320px);
    transition: 0.5s;
    z-index: 10;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 9px;    

    &:hover {
      .logo__title,
      .logo__subtitle {
        color: $color-light-s;
        transition: 0.5s;
      }
      .logo__title_pets,
      .logo__subtitle_pets {
        color: $color-primary;
        transition: 0.5s;
      }
    } 
  }

  &__subtitle {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
  }

  &__title_pets {
    color: $color-dark-l;
  }

  &__subtitle_pets {
    color: $color-dark-3xl;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
    gap: 36px;
    @include paragraph-l;
    color: $color-dark-s;    

    &_pets {
      color: $color-dark-l;
    }
  }

  &__item_active {
    border-bottom: 3px solid $color-primary;
    color: $color-light-s;

    .nav__link {
      cursor: default;
    }
  }

  &__item_disabled {
    &:hover {
      color: $color-light-s;
    }
  }

  &__item_pets {
    color: $color-dark-3xl;
  }

  &__item_disabled-pets:hover {
    color: $color-dark-3xl;
  }
}

@media (max-width: $mobile-width) {
  .nav {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin: 0;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    background-color: $color-dark-3xl;
    transition: 0.5s ease-in-out;
    overflow: auto;

    &_pets {
      background-color: $color-light-xl;
    }
  
    &.open {
      right: 0;
      z-index: 5;
    }
  
    &__list {
      flex-direction: column;
      padding-top: 110px;
      gap: 40px;
    }
  
    &__link {
      font-size: 32px;
      line-height: 51px;
    }
  }
}

.burger {
  display: none;
  width: 30px;
  height: 22px;
  cursor: pointer;
  transition: 0.5s;

  &.open {
    transform: rotate(90deg);
    transition: 0.5s;
  }
  
  span,
  &::before,
  &::after {
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  transition: 0.5s;
  background-color: $color-primary;
  }

  &::before,
  &::after {
  content: "";
  }

  &::before {
  top: 0;
  }

  &::after {
  bottom: 0;
  }

  span {
  top: calc(50% - 1px);
  }

  &_pets {  
    span,
    &::before,
    &::after {
    background-color: #000;
    }
  }

  @media (max-width: $mobile-width) {    
    display: block;
    position: relative;
    z-index: 10;    
  }  
}