.header {
  width: 100%;
  position: absolute;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 40px 0;
  }
}

.logo {
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  &__subtitle {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    @include paragraph-l;
    color: $color-dark-s;
  }

  &__item_active {
    border-bottom: 3px solid $color-primary;
    color: $color-light-s;

    .nav__link {
      cursor: default;
    }
  }

  &__item_disabled {
    &:hover {
      color: $color-light-s;
    }
  }
}

