.header {
  width: 100%;
  position: absolute;

  &_pets {
    width: 100%;
    position: fixed;
    background-color: $color-light-xl;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 40px 0;
    overflow-x: hidden;
    width: 100vw;

    &_pets {
      padding: 30px 40px;
    }
  }
}

.logo {
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 9px;    

    &:hover {
      .logo__title,
      .logo__subtitle {
        color: $color-light-s;
        transition: 0.5s;
      }
      .logo__title_pets,
      .logo__subtitle_pets {
        color: $color-primary;
        transition: 0.5s;
      }
    } 
  }

  &__subtitle {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: $color-light-xl;
  }

  &__title_pets {
    color: $color-dark-l;
  }

  &__subtitle_pets {
    color: $color-dark-3xl;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    @include paragraph-l;
    color: $color-dark-s;

    &_pets {
      color: $color-dark-l;
    }
  }

  &__item_active {
    border-bottom: 3px solid $color-primary;
    color: $color-light-s;

    .nav__link {
      cursor: default;
    }
  }

  &__item_disabled {
    &:hover {
      color: $color-light-s;
    }
  }

  &__item_pets {
    color: $color-dark-3xl;
  }

  &__item_disabled-pets:hover {
    color: $color-dark-3xl;
  }
}

