.car {
  @include flex-column;
  gap: 10px;

  &__controls {
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }

  &__container {
    position: relative;
    @include flex-center;
    gap: 5px;
    border-bottom: 2px dashed;
  }

  &__select-button,
  &__remove-button {
    width: $btn-m;
  }

  &__name {
    margin-left: 10px;
    font-size: 20px;
  }

  &__start-button,
  &__stop-button {
    width: $btn-s;
  }

  &__finish-img {
    position: absolute;
    height: 35px;
    right: 50px;
    bottom: 0;
  }
}
