.car {
  @include flex-column;
  gap: 10px;

  &__controls {
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }

  &__container {
    @include flex-center;
    gap: 5px;
    border-bottom: 2px dashed;

    :last-child {
      justify-self: end;
    }
  }

  &__select-button,
  &__remove-button {
    width: $btn-m;
  }

  &__start-button,
  &__stop-button {
    width: $btn-s;
  }

  &__finish-img {
    height: 35px;
  }
}
