* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flex-column;
  margin: 0 auto;
  height: 100%;
  @include font-basic;
}

body::-webkit-scrollbar {
  width: 5px;
  background: $color-white;
}

body::-webkit-scrollbar-thumb {
  background-color: $color-dark-slate-gray;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1980px;
  width: 97%;
}

.main {
  @include flex-column;
  flex: 1 1 auto;
  margin: 0 auto;
  width: 100%;
  background-color: $color-light-gray;

  &__container {
    display: grid;
    grid-template-columns: 250px auto;
    align-items: start;
    gap: 30px;
    padding: 30px 0;

    @media(max-width: 820px) {
      grid-template-columns: 150px auto;
    }
  }
}