* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flex-column;
  margin: 0 auto;
  height: 100%;
  @include font-basic;
  background-color: $color-gray;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  width: 97%;
}

.main {
  @include flex-column;
  flex: 1 1 auto;
  margin: 0 auto;
  width: 100%;

  &__container {
    @include flex-column;
    gap: 30px;
  }
}

.button {
  padding: 2px 5px;
  width: 80px;
  height: 30px;
  font: inherit;
  border: $border-btn;
  border-radius: $border-radius;
  background-color: $color-light-gray;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: $transition-time;

  &:hover {
    background-color: $color-light-blue;
  }
  
  &.active {
    background-color: $color-deep-cyan;
  }
}
